.footer {
    width: 100%;
    min-height: 800px;
    background: url('../img/bg.png') center / cover no-repeat fixed;
    &__wrapper {
        min-height: 800px;
        max-width: 1175px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__title {
        font-size: 35px;
        font-family: 'Raleway';
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $white;
        padding-top: 118px;
    }
    &__line {
        width: 86px;
        height: 2px;
        background: $white;
        margin: 0 auto;
        margin-top: 70px;
    }
    &__social {
        margin-top: 70px;
    }
    &__social-item {
        margin-right: 25px;
        display: inline-block;
        text-decoration: none;
        & :last-of-type{
            margin-right: 0;
        }
        & :hover {
            color: $blue;
        }
    }
    &__social-icon {
        color: $white;
        font-size: 25px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__form-wrap {
        margin-top: 70px;
        & :last-of-type{
            margin-right: 0;
        }
    }

    &__form-input {
        width: 302px;
        height: 45px;
        margin-right: 62px;
        padding: 0 30px;
        font-size: 18px;
        font-family: 'Lato';
        font-style: italic;
        font-weight: 400;
        border: none;
        border-bottom: 2px solid $white;
        opacity: 1;
        &:focus {
            border-bottom: 2px solid $blue;
            color: $white;
        }
    } 

    &__textarea {
        width: 669px;
        height: 45px;
        margin-top: 90px;
        padding: 15px 30px 0 30px;
        font-size: 18px;
        font-family: 'Lato';
        font-style: italic;
        font-weight: 400;
        border: none;
        border-bottom: 2px solid $white;
        resize: none;
        &:focus {
            border-bottom: 2px solid $blue;
            color: $white;
        }
    }

    &__form-btn {
        font-size: 24px;
        font-family: 'Lato';
        font-weight: 400;
        padding: 15px 50px;
        margin-top: 50px;
        border: 2px solid $white;
        text-transform: uppercase;
        color: $white;
        &:hover {
            color: $blue;
            border: 2px solid $blue;
        }
    }
}

input, textarea::-moz-placeholder {
    color: $white;
}