.ourwork {
    width: 100%;
    height: 950px;
    background-color: $white;
    &__item {
        width: 100%;
        max-width: 1175px;
        height: 950px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__title {
        font-size: 35px;
        font-family: "Raleway";
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        padding-top: 118px;
    }
    &__line {
        width: 86px;
        height: 2px;
        background: $black;
        margin: 0 auto;
        margin-top: 70px;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 90px;
    }
    &__container-content {
        position: relative;
        width: 100%;
        height: 420px;
        max-width: calc((100% - 60px)/3);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 30px;
        overflow: hidden;
        cursor: pointer;
        &:last-of-type {
            margin-right: 0;
        }
        &:hover {
            .ourwork__overlay {
            opacity: 0.9;
            pointer-events: auto;
            cursor: pointer;
            }
        }
    }
    &__container-image {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    &__btn-item {
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__btn {
        width: 370px;
        height: 60px;
        text-transform: uppercase;
        font-size: 24px;
        font-family: 'Lato';
        font-weight: 400;
        margin-top: 70px;
        border: 2px solid $black;
        &:hover {
            border: 2px solid $blue;
            color: $blue;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .7s ease;
        background-color: $black;
    }
    &__overlay-text {
        color: white;
        font-size: 22px;
        font-family: 'Lato';
        font-weight: 400;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    &__overlay-icon {
        color: white;
        font-size: 40px;
        &:hover {
            color: $blue;
        }
    }

}
